$prettyEmbedVimeo-include-inline: true !default;
$prettyEmbedVimeo-include-lightbox: true !default;

$prettyEmbedVimeo-overlay-color: #0b0b0b !default;
$prettyEmbedVimeo-overlay-opacity: 0.8 !default;
$prettyEmbedVimeo-iframe-padding-top: 0 !default;
$prettyEmbedVimeo-iframe-background: #000 !default;
$prettyEmbedVimeo-iframe-max-width: 900px !default;
$prettyEmbedVimeo-iframe-ratio: 9 / 16 !default;
$prettyEmbedVimeo-shadow: 0 0 8px rgba(#000, 0.6) !default;
$prettyEmbedVimeo-z-index-base: 1140 !default;
$prettyEmbedVimeo-controls-opacity: 0.65 !default;
$prettyEmbedVimeo-controls-color: #fff !default;

.jonnitto-prettyembedvimeo {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.jonnitto-prettyembedvimeo__button {
  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transform: scale(0.8);
    background: inline("PlayButton.png") center no-repeat;
    background-size: size("PlayButton.png", 2);
    transition: transform 0.25s ease-in-out, opacity 0.25s linear;
    pointer-events: none;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}

.jonnitto-prettyembedvimeo--play::after {
  display: none;
}

@if $prettyEmbedVimeo-include-inline {
  .jonnitto-prettyembedvimeo--inline iframe {
    border: 0 solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@if $prettyEmbedVimeo-include-lightbox {
  .jonnitto-prettyembedvimeo__lightbox {
    display: block;
    position: fixed 0;
    content: "";
    background: rgba($prettyEmbedVimeo-overlay-color, $prettyEmbedVimeo-overlay-opacity);
    z-index: -1;
    opacity: 0;
    font-size: 0;
    transition: opacity 0.2s, z-index 0s 0.2s;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    > * {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      text-align: left;
    }

    &::before {
      display: inline-block;
      overflow: hidden;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }

    .jonnitto-prettyembedvimeo__lightbox-visible & {
      z-index: $prettyEmbedVimeo-z-index-base + 9;
      opacity: 1;
      transition: opacity 0.2s;
    }
  }

  .jonnitto-prettyembedvimeo__lightbox-inner {
    @if $prettyEmbedVimeo-iframe-padding-top {
      padding-top: $prettyEmbedVimeo-iframe-padding-top;
      padding-bottom: $prettyEmbedVimeo-iframe-padding-top;
    }
    position: relative;
    max-width: $prettyEmbedVimeo-iframe-max-width;
    max-height: 90%;
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
    width: 100%;

    .jonnitto-prettyembedvimeo__lightbox-visible & {
      z-index: $prettyEmbedVimeo-z-index-base + 10;
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.2s, transform 0.2s;
    }
  }

  .jonnitto-prettyembedvimeo__lightbox-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
  }

  .jonnitto-prettyembedvimeo__lightbox-close {
    top: -40px;
    user-select: none;
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    z-index: $prettyEmbedVimeo-z-index-base + 6;
    box-shadow: none;
    width: 100%;
    height: 44px;
    line-height: 44px;
    position: absolute;
    text-decoration: none;
    opacity: $prettyEmbedVimeo-controls-opacity;
    padding: 0 0 18px 10px;
    color: $prettyEmbedVimeo-controls-color;
    right: -6px;
    text-align: right;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  .jonnitto-prettyembedvimeo__lightbox-holder {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: $prettyEmbedVimeo-iframe-ratio * 100%;

    iframe {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: $prettyEmbedVimeo-shadow;
      background: $prettyEmbedVimeo-iframe-background;
    }
  }
}
